<!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="@Url.Action("Index", "Home")" class="brand-link">
      <img src="~/adminlte/dist/img/JoseoIcon.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">Tu Joseo</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item">
                    <a href="@Url.Action("Index", "Home")" class="nav-link">
                  <i class="nav-icon fas fa-th"></i>
                  <p>
                      Home
                  </p>
              </a>
          </li>

          <li class="nav-item menu-open">
            <a href="#" class="nav-link active">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Workflow
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="#" class="nav-link">
                  @*<i class="far fa-circle nav-icon"></i>*@
                  <p>Publicaciones</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  @*<i class="far fa-circle nav-icon"></i>*@
                  <p>Buscar Joseos 
                      <span class="right badge badge-danger">Nuevo</span>
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  @*<i class="far fa-circle nav-icon"></i>*@
                  <p>Buscar Joseador 
                      <span class="right badge badge-danger">Nuevo</span>
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  @*<i class="far fa-circle nav-icon"></i>*@
                  <p>Métricas 
                      <span class="right badge badge-danger">Nuevo</span></p>
                </a>
              </li>
            </ul>
          </li>

          <li class="nav-item menu-closed">
              <a href="#" class="nav-link">
                  <i class="nav-icon fas fa-person-booth"></i>
                  <p>
                      Usuario
                      <i class="right fas fa-angle-left"></i>
                  </p>
              </a>
              <ul class="nav nav-treeview">
                  <li class="nav-item">
                            <a href="@Url.Action("Index", "Profile")" class="nav-link">
                          @*<i class="far fa-circle nav-icon"></i>*@
                          <p>Configuración</p>
                      </a>
                  </li>
                  <li class="nav-item">
                      <a href="@Url.Action("Index", "Login")" class="nav-link">
                          <p>Cerrar sesión</p>
                      </a>
                  </li>
              </ul>
                    <hr class="line-divider alert-default-light">
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>